{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>allLinks</title>
</head>
<body>


<br>
<br>
<br>
<br>
<br>
<br>
<div class="flex justify-center">
  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
    <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="{% static 'links/images/github.jpeg' %}" alt="" />
    <div class="p-6 flex flex-col justify-start">
      <h5 class="text-gray-900 text-xl font-medium mb-2"><a class="nav-link " aria-current="page" href="https://github.com/MekkiZ">My GitHub</a></h5>
      <p class="text-gray-700 text-base mb-4">
        This my personal GitHub, we can see few projects, or debug issues for projects. I have for purpose to add more projects.
        <p> <a class="nav-link " aria-current="page" href="https://github.com/MekkiZ">Here</a> </p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="flex justify-center">
  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
    <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="{% static 'links/images/docker-hub.png' %}" alt="" />
    <div class="p-6 flex flex-col justify-start">
      <h5 class="text-gray-900 text-xl font-medium mb-2"><a class="nav-link " aria-current="page" href="https://hub.docker.com/repositories/gatsfreecs">My DockerHub for software</a></h5>
      <p class="text-gray-700 text-base mb-4">
        This is my DockerHub. There I put all software with python. All projects have purpose. I have Software for Desktop, Websites and multiple terminal programs.
          I use Dockerhub because some Software work with different Tech Stack.
      </p>
        <p><a class="nav-link " aria-current="page" href="https://hub.docker.com/repositories/gatsfreecs">Here</a></p>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="flex justify-center">
  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
    <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="{% static 'links/images/mkzw.png' %}" alt="" />
    <div class="p-6 flex flex-col justify-start">
      <h5 class="text-gray-900 text-xl font-medium mb-2"><a class="nav-link " aria-current="page">My website on build 🚧</a></h5>
      <p class="text-gray-700 text-base mb-4">
        This is my personal website. Here we have a blog whose purpose to explain my life, my bad and good experiences, and also anyone can register and tell us their experiences.
      </p>
        <p><a class="nav-link " aria-current="page">Coming Soon..</a></p>
    </div>
  </div>
</div>



</body>
</html>